$dark-grey: #333;

.mortgage-payment {
    width: 100%;
    color: $dark-grey;
    transition: width 0.25s ease-in-out;

    /* children */
    .preview-container {
        margin-top: 1em;
        min-height: 12em;
        background-size: cover;
    }

    .payment-amount {
        text-align: center;
    }
}